<!DOCTYPE html>
<html>
  <head>
    <title>build-a-wall</title>
    <meta name="apple-mobile-web-app-title" content="build-a-wall">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <center>
      <div id="baw-title">build-a-wall</div>
      <div id="gameplay">
        
      </div>
  </body>
</html>
