<!DOCTYPE html>
<html>
  <head>
    <title>Blockable</title>
    <meta name="apple-mobile-web-app-title" content="Blockable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body onload="initiate(); run();" onresize="setTimeout(initiate, 300)">
    <div id="gameplay-container">
      <div id="gameplay">
        <canvas id="canvs" width="0" height="0"></canvas>
      </div>
    </div>
  </body>
</html>
