body {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #355;
  font-family: 'Rajdhani', sans-serif;
}

#baw-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 7vh;
  color: #FFF;
  line-height: 10vh;
}

#gameplay {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  width: 80%;
  height: 80%;
  border-radius: 11px;
}
